* {
  font-family: 'Creepster';
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 500%;
  margin: 10% 0 0 0;
}

h2 {
  font-size: 650%;
  color: black;
}

button {
  background-color: orange;
  border: 1px solid black;
  border-radius: 3.5px;
  cursor: pointer;
  font-size: 120%;
  margin-bottom: 5%;
  padding: 1%;
  width: 30%;
}

.left-side,
.right-side {
  background-image: url(https://i.pinimg.com/originals/0d/1a/37/0d1a37220c938674696fff5b272e1f4d.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 25vw;
}

.middle {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.game-message  {
  font-size: 500%;
  margin: 0
}

.game-board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 80%;
  width: 80%;
  margin: 6%
}

.box {
  border: solid 6px black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-top-border {
  border-top: 2px solid transparent;
}

.remove-right-border {
  border-right: 2px solid transparent;
}

.remove-bottom-border {
  border-bottom: 2px solid transparent;
}

.remove-left-border {
  border-left: 2px solid transparent;
}

.token {
  margin: 0;
  font-size: 100px;
}

.disabled {
  pointer-events: none;
}
